<div id="logo">
  <div class="centered">
    <h1><strong>Welcome to Ryan's Cocktail Bar</strong></h1>
  </div>
</div>

<div class="container">
  <div class="title">
    <h2>All your Cocktails</h2>
  </div>


  <div class="card-group">

    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-4">
          <div class="card m-2">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1886&q=80">
            <div class="card-body">
              <h5 class="card-title"><%= link_to(cocktail.name, cocktail_path(cocktail)) %> </h5>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  </div>

</div>



