<div class="container">
  <h1>Add a New Cocktail</h1>

  <%= simple_form_for(@cocktail) do |f| %>
    <div class="actions form-group">
      <%= f.input :name, class: "form-control" %>

      <%= f.submit class: 'btn margin-top btn-primary' %>
    </div>
  <% end %>

</div>
