#showlogo {
  display: flex;
  height: 55vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  width: auto;
  margin: auto;
  background-size: cover;
}

.container {
  margin-top: 24px;
}
